<h1>Sign Up</h1>
<%= form_for @user do |f| %>
  <div>
    <%= f.label :username %> <br>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :email %> <br>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.submit %>
  </div>
  
<% end %>
<%= link_to 'Log_in', new_session_path %>