<h1>User: <%= @user.username%><br></h1>


<%= link_to "Create Event", new_event_path %>

<h4> Events created by <%=@user.username%> </h4>
<% @user.events.each do |e|%><br>
  <%= e.name%>
  <%= e.date%>

<%end%>

<div>
  <h4>Upcoming events </h4>
  <% @upcoming_events.each do |e|%>
    <%= link_to e.name, event_path(e) %><br>
    <%= e.date %><br>
    <%= e.description %><br>
    <div class="invite-btn"><%= link_to "Invite a friend", new_event_manager_path %></div><br>
  <% end %>
</div>

<div>
  <h4>Previous events </h4>
  <% @previous_events.each do |e|%>
    <%= link_to e.name, event_path(e) %><br>
    <%= e.date %><br>
    <%= e.description %><br><br>
  <% end %>
</div>

<ul>
<strong>Pending Invitations:</strong>
    <% if @pending_invitations.size == 0 %>
      <p><em> You got no pending invitations </em> </p>
    <% else %>
      <% @pending_invitations.each do |e| %>
        <li>
          <p>Invitation ID: <%= link_to e.attended_event_id, event_path(e.attended_event_id) %></p>
          <p><%#= e.name %></p>
          <p><%= link_to "Accept Invitation", event_manager_path(e) %></p>
        </li>
      <% end %> 
    <% end %>
</ul>


<%= link_to "<< Home", root_path %>

