<h1>User</h1>
<%= @user.username%>
<div>
  <% @user.events.each do |e|%>
    <%= e.name %><br>
    <%= e.description %>
  <% end %>
</div>

<div>
  <h4>Upcoming events </h4>
  <% @user.attended_events.where("date >= ?", DateTime.now).each do |e|%>
    <%= e.name %> <br>
    <%= e.date %>
    <%= e.description %>
  <% end %>
</div>

<div>
  <h4>Previous events </h4>
  <% @user.attended_events.where("date <= ?", DateTime.now).each do |e|%>
    <%= e.name %> <br>
    <%= e.date %>
    <%= e.description %>
  <% end %>
</div>
