<h1> Events</h1>

<div>
  <h4>Upcoming events </h4>
  <% @events.upcoming.each do |e|%>
    <%= e.name %> <br>
    <%= e.date %> <br>
    <%= e.description %><br>
  <% end %>
</div>

<div>
  <h4>Previous events </h4>
  <% @events.past.each do |p| %>
    <%= p.name %><br>
    <%= p.date %><br>
    <%= p.description %> <br>
  <% end %>
</div>