<h1>New Event</h1>
<%= form_for @event do |f| %>
  <div>
    <%= f.label :description %> <br>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.submit %>
  </div>
  
<% end %>

<div>
  <br><br>
  <%= link_to "Back << ", root_path %>
</div>