<h1><%= @event.description %></h1>
<p>Event created by <%= @event.creator.username %></p>
<h2>Invited Guests</h2>
<% @attendants.each do |e| %>
    <%= e %><br>
<% end %>

<br><br>
<%= link_to "Invite", new_event_manager_path  %>

<div>
    <br><br>
    <%= link_to "Back << ", root_path %>
</div>
