<h1><%= @event.description %></h1>
<p>Event created by <%= @event.creator.username %></p>
<h2>Attendees</h2>
<% @event.attendees.each do |e| %>
    <%= link_to e.username, user_path(e) %><br>
<% end %>

<br><br>
<%= link_to "Invite a friend", new_event_manager_path  %>

<div>
    <br><br>
    <%= link_to "Back << ", root_path %>
</div>
